
        {% extends "network/layout.html" %}
        {% load static %}
        
        {% block body %}
        <script>
          document.querySelector("#firstrowid").onscroll = function(){myFunction};
        
          console.log("fuck")
          function myFunction()
          {
            console.log("in my function")
          }
        
          function animatePls()
          {
            console.log("waan")
          }
        
        </script>
        
        
        <div class="introdiv d-flex flex-column">
          <div class="d-flex justify-content-center">
              <p class="introwords d-flex justify-content-center">ยินดีต้อนรับเข้าสู่</p>
            </div>
            <div class="d-flex flex-column">
              <h1 class="introwordsseconddiv d-flex justify-content-center animate__bounceIn ">VIDMA!</h1>
              <p class="vidmaslogan d-flex justify-content-center" id="description">มิติใหม่ทีสามารถเชื่อมโยงคุณให้ใกล้ชิดกับสตาร์ที่คุณชื่นชอบ</p>
            
            </div>
           
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ff336f" fill-opacity="1" d="M0,192L40,213.3C80,235,160,277,240,266.7C320,256,400,192,480,160C560,128,640,128,720,149.3C800,171,880,213,960,213.3C1040,213,1120,171,1200,165.3C1280,160,1360,192,1400,208L1440,224L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
          </svg>
        <div>
           
            <div class="firstrow">
              <div class="d-flex justify-content-center">
                <p class="whatisvidma d-flex justify-content-center">อะไรคือ</p>
              </div>
                <h1 id="firstrowid" class="vidmaaboutus">VIDMA?</h1>
                <div class="d-flex justify-content-center">
                    <video class="aboutusvidvid"  controls>
                      <source src="https://res.cloudinary.com/ablaze-project/video/upload/v1657189622/what_is_vidma_vdo_1_pygboe.mp4" type="video/mp4">
                    </video>
                  </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff336f" fill-opacity="1" d="M0,192L40,213.3C80,235,160,277,240,266.7C320,256,400,192,480,160C560,128,640,128,720,149.3C800,171,880,213,960,213.3C1040,213,1120,171,1200,165.3C1280,160,1360,192,1400,208L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
               
            <div class="d-flex justify-content-center">
            <div class="paragraphinaboutus">
                <p class="textparagraphaboutus">เว็ปไซท์ที่เชื่อมต่อคุณกับสตาร์ที่คุณชื่นชอบรวมถึงนักร้องเกมเมอร์หรืออินฟลูเอนเซอร์ กดจองคลิปสั้นๆที่สตาร์ตั้งใจถ่ายให้เป็นพิเศษโดยเฉพาะคุณเพียงคนเดียว  เช่น วีดีโอสุขสันต์วันเกิด วีดีโอแสดงความยินดี หรือวีดีโอเผาหรือล้อเลียนตลกๆที่คุณสามารถเก็บไว้เป็นความทรงจําที่ดีหรือส่งต่อให้คนที่คุณรัก</p>
            </div>
             </div>     
                    
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#094fcb" fill-opacity="1" d="M0,256L48,250.7C96,245,192,235,288,234.7C384,235,480,245,576,250.7C672,256,768,256,864,234.7C960,213,1056,171,1152,165.3C1248,160,1344,192,1392,208L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>                <div class="divsecondpartt">
                  <div class="titlehowtobuy">
                    <p id="secondpart">ขั้นตอนการซื้อ</p>
                  </div>
          
                    <div class="forbox d-flex justify-content-between">
                      <div>
                        <div class="beforeboxsug">
        
                          <div class="beforeboxsug2">
                          <div class="boxsug2">
                              <div class="d-flex justify-content-start">
                                  <div class="inboxsugnumber">
                                      <div class="d-flex justify-content-center">
                                          <h6 class="inboxsugn">1</h6>
                                      </div>
                                  </div>
                                  <div></div>
                                  <div class="inboxsugtitle ml-3">
                                      <h6 class="inboxsugt">ค้นหาสตาร์</h6>
                                  </div>
                              </div>
                              <div class="mt-2">
                                  <p class="wa">
                                      เพื่อที่จะสร้างวีดีโอให้คุนคน  เดียวโดยเฉพาะ
                                  </p>
                              </div>
                          </div>
                        </div>
        
                        <div class="beforeboxsug2">
                            <div class="boxsug2">
                                <div class="d-flex justify-content-start">
                                <div class="inboxsugnumber">
                                    <div class="d-flex justify-content-center">
                                        <h6 class="inboxsugn">2</h6>
                                    </div>
                                </div>
                                <div></div>
                                <div class="inboxsugtitle ml-3">
                                    <h6 class="inboxsugt">จองวีดีโอ</h6>
                                </div>
                            </div>
                            <div class="mt-2">
                                <p class="wa">
                                    เลือกหมวดหมู่ที่คนต้องการเช่นคลิปสุขสันต์วันเกิด
                                </p>
                            </div>
                          </div>
                        </div>
                    </div>
                      <div class="beforeboxsug">
        
                        <div class="beforeboxsug2">
                        <div class="boxsug2">
                            <div class="d-flex justify-content-start">
                                <div class="inboxsugnumber">
                                    <div class="d-flex justify-content-center">
                                        <h6 class="inboxsugn">3</h6>
                                    </div>
                                </div>
                                <div></div>
                                <div class="inboxsugtitle ml-3">
                                    <h6 class="inboxsugt">รับวีดีโอ</h6>
                                </div>
                            </div>
                            <div class="mt-2">
                                <p class="wa">
                                  รับคลิบวีดีโอส่วนตัวของคูณจากสตาร์สตาร์  
                                </p>
                            </div>
                        </div>
                      </div>
        
                      <div class="beforeboxsug2">
                      <div class="boxsug2">
                            <div class="d-flex justify-content-start">
                            <div class="inboxsugnumber">
                                <div class="d-flex justify-content-center">
                                    <h6 class="inboxsugn">4</h6>
                                </div>
                            </div>
                            <div></div>
                            <div class="inboxsugtitle ml-3">
                                <h6 class="inboxsugt">แชร์ความสุข</h6>
                            </div>
                        </div>
                        <div class="mt-2">
                            <p class="wa">
                              มอบวีดีโอเป็นของขวัญให้คนที่คุณรักไม่มีวันลืม
                            </p>
                        </div>
                     </div>
                    </div>
                     
                    </div>
        
                    <div class ="boxbtn d-flex justify-content-around">
                      <a href="/"class="buttonaboutus">ซื้อวีดีโอของตัวเอง</a>
                    </div>
                    </div>
        
        
                      <div class="aboutusvidvid">
                        <div class="coveraboutusvid">
                          <div class="d-flex justify-content-center">
                          <video class="aboutusvid"  controls>
                            <source src="" type="video/mp4">
                          </video>
                        </div>
                       </div>
                      </div>
        
                  </div>  
                
                 
                  </div>

                
        
        
        
        {% endblock %}
        
        

