{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<script>
  document.querySelector("#firstrowid").onscroll = function(){myFunction};

  console.log("fuck")
  function myFunction()
  {
    console.log("in my function")
  }

  function animatePls()
  {
    console.log("waan")
  }

</script>


<div class="introdiv d-flex flex-column">
  <div class="d-flex justify-content-center">
      <p class="introwords d-flex justify-content-center">ยินดีต้อนรับเข้าสู่</p>
    </div>
    <div class="d-flex flex-column">
      <h1 class="introwordsseconddiv d-flex justify-content-center animate__bounceIn ">VIDMA!</h1>
      <p class="vidmaslogan d-flex justify-content-center" id="description">มิติใหม่ทีสามารถเชื่อมโยงคุณให้ใกล้ชิดกับสตาร์ที่คุณชื่นชอบ</p>

    </div>

</div>

<div>
   
    <div class="firstrow">
      <div class="d-flex justify-content-center">
        <p class="whatisvidma d-flex justify-content-center">อะไรคือ</p>
      </div>
        <h1 id="firstrowid" class="vidmaaboutus">VIDMA?</h1>
    </div>
       
 
            <div class="divsecondpart">
              <div class="coversboxcoverwvd">
              <div class="boxcoverwvd1">
                <div class="d-flex flex-column">
                  <h6 class="whatisvidmadet2">เว็ปไซท์ที่เชื่อมต่อ</h6>

                  <h6 class="whatisvidmadet2">คุณกับสตาร์ที่</h6>  
                  <h6 class="whatisvidmadet2">คุณชื่นชอบรวมถึง</h6>  
                  <h6 class="whatisvidmadet2">นักร้องเกมเมอร์</h6>  
                  <h6 class="whatisvidmadet2">หรืออินฟลูเอนเซอร์</h6>

                </div>
              </div>

            </div>  

              <div class="coversboxcoverwvd">
              <div class="boxcoverwvd1 align-middle">
                <div class="d-flex flex-column">
                  <h6 class="whatisvidmadet2">กดจองคลิปสั้นๆที่</h6>
                  <h6 class="whatisvidmadet2">สตาร์ตั้งใจถ่ายให้</h6>  
                  <h6 class="whatisvidmadet2">เป็นพิเศษ</h6>  
                  <h6 class="whatisvidmadet2">โดยเฉพาะคุณ</h6>  
                  <h6 class="whatisvidmadet2">เพียงคนเดียว</h6>
                 </div>


              </div>
            </div>

            <div class="coversboxcoverwvd">
              <div class="boxcoverwvd1">
                <div class="d-flex flex-column">
                  <h6 class="whatisvidmadet2">เช่น วีดีโอสุขสันต์</h6>
                  <h6 class="whatisvidmadet2">วันเกิด วีดีโอแสดง</h6>  
                  <h6 class="whatisvidmadet2">ความยินดี หรือ</h6>  
                  <h6 class="whatisvidmadet2">วีดีโอเผาหรือ</h6>  
                  <h6 class="whatisvidmadet2">ล้อเลียนตลกๆ</h6>
                 </div>

              </div>
            </div>  

            <div class="coversboxcoverwvd">
              <div class="boxcoverwvd1">
                <div class="d-flex flex-column">
                  <h6 class="whatisvidmadet2">ที่คุณสามารถ</h6>
                  <h6 class="whatisvidmadet2">เก็บไว้เป็น</h6>  
                  <h6 class="whatisvidmadet2">ความทรงจําที่ดี</h6>  
                  <h6 class="whatisvidmadet2">หรือส่งต่อให้</h6>  
                  <h6 class="whatisvidmadet2">คนที่คุณรัก</h6>
                 </div>
              </div>
            </div>  
            
            </div>

            

        <div class="divsecondpartt">
          <div class="titlehowtobuy">
            <p id="secondpart">ขั้นตอนการซื้อ</p>
          </div>
  
            <div class="forbox d-flex justify-content-between">
              <div>
                <div class="beforeboxsug">

                  <div class="beforeboxsug2">
                  <div class="boxsug2">
                      <div class="d-flex justify-content-start">
                          <div class="inboxsugnumber">
                              <div class="d-flex justify-content-center">
                                  <h6 class="inboxsugn">1</h6>
                              </div>
                          </div>
                          <div></div>
                          <div class="inboxsugtitle ml-3">
                              <h6 class="inboxsugt">ค้นหาสตาร์</h6>
                          </div>
                      </div>
                      <div class="mt-2">
                          <p class="wa">
                              เพื่อที่จะสร้างวีดีโอให้คุนคน  เดียวโดยเฉพาะ
                          </p>
                      </div>
                  </div>
                </div>

                <div class="beforeboxsug2">
                    <div class="boxsug2">
                        <div class="d-flex justify-content-start">
                        <div class="inboxsugnumber">
                            <div class="d-flex justify-content-center">
                                <h6 class="inboxsugn">2</h6>
                            </div>
                        </div>
                        <div></div>
                        <div class="inboxsugtitle ml-3">
                            <h6 class="inboxsugt">จองวีดีโอ</h6>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="wa">
                            เลือกหมวดหมู่ที่คนต้องการเช่นคลิปสุขสันต์วันเกิด
                        </p>
                    </div>
                  </div>
                </div>
            </div>
              <div class="beforeboxsug">

                <div class="beforeboxsug2">
                <div class="boxsug2">
                    <div class="d-flex justify-content-start">
                        <div class="inboxsugnumber">
                            <div class="d-flex justify-content-center">
                                <h6 class="inboxsugn">3</h6>
                            </div>
                        </div>
                        <div></div>
                        <div class="inboxsugtitle ml-3">
                            <h6 class="inboxsugt">รับวีดีโอ</h6>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="wa">
                          รับคลิบวีดีโอส่วนตัวของคูณจากสตาร์สตาร์  
                        </p>
                    </div>
                </div>
              </div>

              <div class="beforeboxsug2">
              <div class="boxsug2">
                    <div class="d-flex justify-content-start">
                    <div class="inboxsugnumber">
                        <div class="d-flex justify-content-center">
                            <h6 class="inboxsugn">4</h6>
                        </div>
                    </div>
                    <div></div>
                    <div class="inboxsugtitle ml-3">
                        <h6 class="inboxsugt">แชร์ความสุข</h6>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="wa">
                      มอบวีดีโอเป็นของขวัญให้คนที่คุณรักไม่มีวันลืม
                    </p>
                </div>
             </div>
            </div>
             
            </div>

            <div class ="boxbtn d-flex justify-content-around">
              <a href="/"class="buttonaboutus">ซื้อวีดีโอของตัวเอง</a>
            </div>
            </div>


              <div class="aboutusvidvid">
                <div class="coveraboutusvid">
                  <div class="d-flex justify-content-center">
                  <video class="aboutusvid"  controls>
                    <source src="https://res.cloudinary.com/ablaze-project/video/upload/f_mp4/761e2c9c-d9c1-11ec-a75d-3af9d3ce8c1e1.mp4" type="video/mp4">
                  </video>
                </div>
               </div>
              </div>

          </div>  
        
         
          </div>





{% endblock %}

