{% extends "network/layout.html" %}
{% load static %}

{% block body %}
about us
<img src="network/static/network/Untitled_Artwork.jpg"></img>

<div class="godown">
    <div class="firstrow">
        <h1 class="vidmaaboutus">VIDMA</h1>
        <p id="description">มิติใหม่ที่จะทำให้คุณสามารถใกล้ชิดกับสตาร์ที่คุณชื่นชอบ</p>
      </div>
       
        <div class="part2">
          <h2 id="secondpart">ขั้นตอนการซื้อ</h2>
        <div id="textbox1">
            <p class="firstpara">เสิร์ชหาบุคคลสาธารณะชนมี่คุณชื่นชอบเป็นพิเศษไม่ว่าจะเป็นนักแสดง,นักร้อง,นักกีฬาหรือเกมเมอร์และจ่ายเพื่อสิทธิพิเศษในการเข้าถึงและได้รับวีดิโอต่างๆจากคนที่คุณชื่นชอบโดยตรง</p>
        </div>
         <!---<iframe class="video1"  width="560" height="315" src="https://www.youtube-nocookie.com/embed/LQ60Mkle4FY" title="YouTube video player" =\</iframe>-->
        </div>
          <div class ="boxbtn">
            <div>
          <input class="buttonaboutus" type="Shop Now" value="ซื้อวีดีโอของตัวเอง">
            </div>
          </div>

        <h3 id="title2">พบกับผู้ก่อตั้งของเรา!</h3>
 <div id="secondpart">
<div class="part2">
  <div>
  <div class="columnaboutus">
   
      <img class="earthpic" src="C:\Users\User\Downloads\earrth.jpg" alt="earth">
      <div class="containeraboutus">
        <h6 class="text1">Earth Thurachon</h6>
        <p class="title">Co-Founder</p>
        <a href="https://www.instagram.com/earth_thurachon/" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
       
       
      </div>
    </div>
  </div>

 

  <div class="row">
    <div class="card">
  <div class="column">
   
      <img class="waanpic" src="C:\Users\User\Downloads\waaan.jpg" alt="waan" >
      <div class="container">
        <h5 class="text2">Waan Weesakul</h5>
        <p class="title">Co-Founderr</p>
        <a href="https://www.instagram.com/waan_weesakul/" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
       
     
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}

{% block script %}
<script type="module" src="{% static 'network/tester.js' %}"></script>
{% endblock %}
