{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<input id="getinfluencerusername"type="hidden"data-username="{{ username }}">
<h1>New request for: {{ username }}</h1>
<div>
    
        <div id="wholereservepage"></div>
        <form id="compose-form">
            {% csrf_token %}
            <input id="submitreservation" type="submit" value="Reserve"class="btn btn-primary"/>
        </form>
</div>

{% endblock %}
{% block script %}
<script type="module" src="{% static 'network/book.js' %}"></script>
{% endblock %}

