{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="godownmore"></div>
<div class="biggestdivdara">  
    <h2 class="h2dara mb-5">สมัครเข้าร่วมเป็นสตาร์ของเราได้ที่นี่ และเราจะติดต่อกลับโดยเร็วที่สุด</h2>
   
    <form action="{% url 'dara' %}" method="post">
   
    <label class="labeldara">ชื่อ-นามสกุล</label>
    <br>
        <input class="inputdara"type=text required name="name" placeholder="ชื่อของคุณ"></input><br></br>
        
        <label class="labeldara mt-3">อีเมล</label>
    <br>
        <input  class="inputdara"type=text required name="email" placeholder="อีเมลของคุณ"></input><br></br>
        <label class="labeldara mt-3">หมายเลขโทรศัพท์</label>
    <br>
        <input class="inputdara"type=text required name="phonenumber" placeholder="หมายเลขโทรศัพท์ของคุณ"></input><br></br>
        <label class="labeldara mt-3">เราสามารถติดต่อคุณได้ทางไหน
        </label>
    <br>
        <input class="inputdara"type=text required name="findwhere" placeholder="ช่องทางการติดต่อ
        "></input><br></br>
        <label class="labeldara mt-3">ชื่อผู้ใช้</label>
    <br>
        <input class="inputdara"type=text required name="usernamefindwhere" placeholder="ชื่อผู้ใช้ของคุณ"></input><br></br>
        <label class="labeldara mt-3">คุณมีผู้ติดตามกี่คน</label>
    <br>
        <input class="inputdara"type=text required name="followerfindwhere" placeholder="คุณมีผู้ติดตามกี่คน"></input><br></br>
     
    <label class="labeldara" for="cars">อาชีพของคุณ:</label>

    <select class="inputdara mt-2"name="cars" id="cars">
      <option value="nuksadaeng">นักแสดง
    </option>
      <option value="nu">นักร้อง
    </option>
      <option value="mercedes">ดารา</option>
      <option value="audi">นักกีฬา</option>
      <option value="gamegae">สตรีมเมอร์/เกมเมอร์
    </option>
      <option value="kuay">อินฟลูเอนเซอร์
    </option>
      <option value="hey">อื่นๆ</option>
    </select>
    <!--<select required name="category" id="selectforcategory">
            <option value="actor">Nhuk Sadaeng</option>
            <option value="influencer">Influencer</option>
            <option value="singer">Nhuk Rorng</option>
            <option value="comedian">Nhuk Talok</option>
            <option value="athelete">Nhuk Gee Lar</option>
            <option value="gamer">Gamer</option>
            <option value="others">UEN2</option>
        </select>-->
    <br><br><br>
        <div class="d-flex justify-content-center">
         <button class="btn registerbtn" type="submit" >สมัครเป็นสตาร์</button>
        </div>
   
    </form>

 
</div>
{% endblock %}

{% block script %}
{% endblock %}
