{% extends "network/layout.html" %}

{% block body %}
    <script>
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
        function accountfunc(todo)
        {
            if (todo == "delete")
            {
                Swal.fire({
        title: '<strong>HTML <u>example</u></strong>',
        icon: 'info',
        html:
                    
            'Are you <b>certain</b> that you want to delete the account. Everything will be deleted from the database and you will not be able to access your account again.',
      
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> Delete Account',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
        'No',
        cancelButtonAriaLabel: 'Thumbs down '
        })
        .then((result) => { 
            console.log(result) 
            const getcooked = getCookie('csrftoken')
            if (result["isConfirmed"] == true)
            {
                fetch(`/setting`, {
                method: 'POST',
                headers:{'X-CSRFToken': getcooked},
                body: "delete"
                })
            }
            
        
        })
            }
        else if (todo == "pause")
        {
            Swal.fire({
        title: '<strong>HTML <u>example</u></strong>',
        icon: 'info',
        html:
                    
            'Are you <b>certain</b> that you want to hide the account. Customer would not be able to request but you would still be able to complete request that is already requested.',
      
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> Pause Account',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
        '<i class="fa fa-thumbs-up"></i> No',
        cancelButtonAriaLabel: 'Thumbs down'
        })
        .then((result) => { 
            console.log(result) 
            const getcooked = getCookie('csrftoken')
            if (result["isConfirmed"] == true)
            {
                fetch(`/setting`, {
                method: 'POST',
                headers:{'X-CSRFToken': getcooked},
                body: "pause"
                })
                .then(response => response.json())
                .then(data => {
                    //if data returns successful show beautiful success stuff
                    //if not show failed html
                    location.reload();
        
                });

            }
        
        })
            
    
    }
        else
        {
            Swal.fire({
        title: '<strong>HTML <u>example</u></strong>',
        icon: 'info',
        html:
                    
            'Are you <b>certain</b> that you want to unpause the account?',
      
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> Unpause Account',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
        '<i class="fa fa-thumbs-up"></i> No',
        cancelButtonAriaLabel: 'Thumbs down'
        })
        .then((result) => { 
            console.log(result) 
            const getcooked = getCookie('csrftoken')
            if (result["isConfirmed"] == true)
            {
                fetch(`/setting`, {
                method: 'POST',
                headers:{'X-CSRFToken': getcooked},
                body: "unpause"
                })
                .then(response => response.json())
                .then(data => {
                //if data returns successful show beautiful success stuff
                //if not show failed html
                location.reload();
          });
            }
        
        })
        }
        }
        
           
    
    </script>
   
   <div class="d-flex justify-content-center">

    <div class="accountsettingfirstcolumn">
        <h1 class="settingheading">บัญชีของคุณ</h1>
        {% if user.influencer_ornot == 1 %}
        {% if user.accountstatus == 1 %}
        <button class="pauseaccountbtn mt-2" onclick="accountfunc('pause')">หยุดบัญชีชั่วคราว</button>
        {% else %}
        <button class="pauseaccountbtn mt-2" onclick="accountfunc('unpause')">ยกเลิกการหยุดบัญชี</button>
        {% endif %}
    {% endif %}       
 </div>
</div>

<div class="d-flex justify-content-center">
    <div class="accountsettingsecondcolumn mt-2">
        <h1 class="settingheading">ศูนย์ช่วยเหลือ</h1>
        <div class="d-flex justify-content-center">
        <p class="helpcenterdescription">หากคุณมีปัญหาหรืออยากสอบถามเพิ่มเติม โปรดติดต่อ vidma@vidma.tv และทางทีมงานเราจะติดต่อกลับโดยเร็วที่สุด</p></div>
    </div>
</div>
</div>
   

{% endblock %}



