{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div class="firstdivinmain">
    <!--
    <div class="introdiv d-flex flex-column">
        <div class="d-flex justify-content-center">
            <p class="introwords d-flex justify-content-center">ยินดีต้อนรับเข้าสู่</p>
          </div>
          <div>
            <p class="introwordsseconddiv d-flex justify-content-center animate__bounceIn ">VIDMA!</p>
            </div>
      </div>
      .button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}
      -->
      <div class="secondintrodiv d-flex flex-column">
          <div class="okokok">
    <div class="d-flex justify-content-center whatintrowords">

        <p class="introwords2">เชื่อมต่อกับสตาร์คนโปรดของคุณ</p>
    </div>
    <div class=" d-flex justify-content-center whatintrowords">
        <p class="introwords2">ผ่านวีดีโอที่สตาร์สร้างเพื่อคุณโดยเฉพาะ</p>
    </div>

    <div class="d-flex justify-content-start">
        <p></p>
    </div>
    <div class="d-flex justify-content-start">
        <p></p>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
        </div>
        <div class="d-flex justify-content-center">

            <a href="{% url 'aboutus' %}" class="button-53" role="button">เกี่ยวกับเรา</a>
        </div>

    </div>
    
    </div>
    <div class="forbox">
        <div class="coversboxsug">
        <div class="boxsug1">
            <div class="d-flex justify-content-start">
                <div class="inboxsugnumber">
                    <div class="d-flex justify-content-center">
                        <h6 class="inboxsugn">1</h6>
                    </div>
                </div>
                <div></div>
                <div class="inboxsugtitle ml-3">
                    <h6 class="inboxsugt">ค้นหาสตาร์</h6>
                </div>
            </div>
            <div class="mt-2">
                <p class="wa">
                    เพื่อที่จะสร้างวีดีโอให้คุรคน  เดียวโดยเฉพาะ
                </p>
            </div>
        </div>
    </div>

        <div class="coversboxsug">
        <div class="boxsug1">
            <div class="d-flex justify-content-start">
            <div class="inboxsugnumber">
                <div class="d-flex justify-content-center">
                    <h6 class="inboxsugn">2</h6>
                </div>
            </div>
            <div></div>
            <div class="inboxsugtitle ml-3">
                <h6 class="inboxsugt">จองวีดีโอ</h6>
            </div>
        </div>
        <div class="mt-2">
            <p class="wa">
                เลือกหมวดหมู่ที่คนต้องการเช่นคลิปสุขสันต์วันเกิด
            </p>
        </div>
     </div>
    </div>
    <div class="coversboxsug">

        <div class="boxsug1">
            <div class="d-flex justify-content-start">
            <div class="inboxsugnumber">
                <div class="d-flex justify-content-center">
                    <h6 class="inboxsugn">3</h6>
                </div>
            </div>
            <div></div>
            <div class="inboxsugtitle ml-3">
                <h6 class="inboxsugt">รับวีดีโอ</h6>
            </div>
        </div>
        <div class="mt-2">
            <p class="wa">
                รับคลิบวีดีโอส่วนตัวของคุณจากสตาร์
            </p>
        </div>
    </div>
    </div>

    <div class="coversboxsug">
        <div class="boxsug1">
            <div class="d-flex justify-content-start">
            <div class="inboxsugnumber">
                <div class="d-flex justify-content-center">
                    <h6 class="inboxsugn">4</h6>
                </div>
            </div>
            <div></div>
            <div class="inboxsugtitle ml-3">
                <h6 class="inboxsugt">แชร์ความสุข</h6>
            </div>
        </div>
        <div class="mt-2">
            <p class="wa">
                มอบวีดีโอเป็นของขวัญให้คนที่คุณรักไม่มีวันลืม
            </p>
        </div>
    </div>
    </div>

    </div>
</div>
  </div>
  
<div id="suggestions_por_react"></div>
<div id="suggestions_por_react_popular"></div>

  




{% endblock %}


{% block script %}
<script type="module" src="{% static 'network/suggestions.js' %}"></script>
{% endblock %}

