{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div id="suggestions_por_react"></div>

<!---

<div id="control-portal-shown" class="d-flex justify-content-center">
    <h2>Suggestions</h2>
</div>
{% for i in portalshown %}
    <input id="hiddenportalid" type="hidden" value="{{i.portal_id}}">
    <div id="control-portal-shown" class="d-flex justify-content-center">
        <h4><a href="/newportal">{{i.portal_name}}</a></h4>
    </div>
    <div id="control-portal-shown" class="d-flex justify-content-center">  
        <h6>{{i.portal_des}}</h6>
    </div>
{% endfor %}

<div id="control-portal-shown" class="d-flex justify-content-center">
    <h2>Subsciptions</h2>
</div>
-->
{% endblock %}


{% block script %}
<script type="module" src="{% static 'network/suggestions.js' %}"></script>
{% endblock %}

