{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div class="firstdivinmain">
    <div class="introdiv d-flex flex-column">
        <div class="d-flex justify-content-center">
            <p class="introwords d-flex justify-content-center">ยินดีต้อนรับเข้าสู่</p>
          </div>
          <div>
            <p class="introwordsseconddiv d-flex justify-content-center animate__bounceIn ">VIDME!</p>

      
          </div>
      </div>
    
      <div class="secondintrodiv d-flex flex-column">
    <div class="d-flex justify-content-center ">
        <p class="introwords2">เชื่อมต่อกับสตาร์หคนโปรดของคุณ</p>
    </div>
    <div class=" d-flex justify-content-center ">
        <p class="introwords2">ฉลองวันเกิด วันหยุด งานแต่งงาน และอื่นๆ</p>
    </div>
    <div class=" d-flex justify-content-center ">
        <p class="introwords2">ด้วยวิดีโอ จากสตาร์ที่คุณชื่นชอบ</p>
    </div>
    <div class="d-flex justify-content-start">
        <p></p>
    </div>
    <div class="d-flex justify-content-start">
        <p></p>
    </div>
    <div class="d-flex flex-column mt-5">
        <div class="d-flex justify-content-center">
        </div>
        <div class="d-flex justify-content-center">

            <a href="{% url 'aboutus' %}" class="button-53" role="button">เกี่ยวกับเรา</a>
        </div>

    </div>
  


    </div>
  </div>
  
<div id="suggestions_por_react"></div>
<div id="suggestions_por_react_popular"></div>

  





{% endblock %}


{% block script %}
<script type="module" src="{% static 'network/suggestions.js' %}"></script>
{% endblock %}

