{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.accountstatus == "1" %}

    <input id="getinfluencerusername"type="hidden"data-username="{{ username }}">
    <div id="toppart">

    </div>


    <!-- introductions = name, profile page, div, links -->
        <div id="maininfluencer">
            <div id="introductionvdo"></div>
            <div id="postsshown"></div>
        </div>

        <div id="reviewsmainfluencer">
            <div id="reviews">
            </div>
        </div>
{% else %}
<h1 class="godown">User {{username}} paused their account</h1>
{% endif %}


{% endblock %}
{% block script %}
<script type="module" src="{% static 'network/ininfluencer.js' %}"></script>
{% endblock %}

