{% extends "network/layout.html" %}
{% load static %}

{% block body %}


    <input id="getinfluencerusername"type="hidden"data-username="{{ username }}">
    <div id="toppart">

    </div>


    <!-- introductions = name, profile page, div, links -->
        <div id="maininfluencer">
            <div id="introductionvdo"></div>
            <div id="postsshown"></div>
        </div>

        <div id="reviewsmainfluencer">
            <div id="reviews">
            </div>
        </div>


{% endblock %}
{% block script %}
<script type="module" src="{% static 'network/ininfluencer.js' %}"></script>
{% endblock %}

