{% extends "network/layout.html" %}
{% load static %}


{% block body %}

   
    <div class="godown"></div>



    <div class="d-flex justify-content-center">
        <h3 class="registertitle">เข้าห้องคอล</h3>
    </div>

   <div class="d-flex justify-content-center mt-3">
        <h5 class="sarabun">ใส่ชื่อห้องที่มอบให้เพื่อเข้าห้อง:</h5>
   </div>
   <div class="d-flex justify-content-center">
        <form id="room-name-form" class="joinformclass">
            <div class="d-flex justify-content-center mt-2">
                <input class="inputjoincall" name="room_name" id="room-name-input"/>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn joincallbutton"onClick="getAccessToken()"type="submit">เข้่าคอล</button>
            </div>
        </form>
    </div>


{% endblock %}
{% block script %}
{% endblock %}

