{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Rondevoo.tv{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>    
        <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/ablaze-project/image/upload/v1649896515/xxi4iwlvii4h4dg0jytj.jpg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Londrina+Outline&family=Luckiest+Guy&family=Orelega+One&family=Sarabun:wght@600&display=swap" rel="stylesheet">        
        
        
        {% block script %}
        {% endblock %}
   
    </head>
    <body>
      <!--css colors
        background-color: #C1E1C1;
-->
    

<nav class="navbar navbar-expand-lg navbar-light justify-content-between">

      <a class="navbar-brand" href="{% url 'index' %}"><h4 class="videme">Vidme!</h4></a>
      <div class="justify-content-start">

              <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                    {% if user.influencer_ornot == 1 %}
                      <li class="nav-item mt-2 ml-4">
                          <a id="navprofile" class="wa" href="{% url 'ininfluencer' user.username %}"><strong>{{ user.username }}</strong></a>
                      </li>
                    {% else %}
                    <!--this will go to edit profile page of the account-->
                      <li class="nav-item mt-2 ml-4">
                        <a id="navprofile" class="wa" href="{% url 'usersetting' %}"><strong>{{ user.username }}</strong></a>
                      </li>
                    {% endif %}
                    {% if user.is_superuser == 1 %}
                      <li class="nav-item">
                        <a id="navprofile" class="nav-link" href="{% url 'superuser' %}"><strong>Super User</strong></a>
                      </li>
                    {% endif %}
                 {% endif %}
          
                  <li class="nav-item mt-2 ml-4">
                    <a class="wa" href="{% url 'index' %}">หน้าหลัก</a>
                  </li>   
                {% if user.is_authenticated %}
                  <li class="nav-item mt-2 ml-4">
                    <a class="wa" href="{% url 'inbox' %}">อินบ็อกซ์</a>
                  </li>    
                  <li class="nav-item mt-2 ml-4">
                    <a class="wa" href="{% url 'dara' %}">สมัครเป็นสตาร์</a>
                  </li> 
                
        </div>
          <div>
                  <div class="dropdown dropleft">
                    <button class="dropdownbutton btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    อื่นๆ
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <a class="nav-link" href="{% url 'legal' %}">Legal</a>
                      <a class="nav-link" href="{% url 'helpcenter' %}">Help Center</a>
                      <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>

                    </ul>
                  
                </div>
              </div>
                
                   
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
            
          </nav>


          </div>
        <div class="body mb-3">
            {% block body %}
            {% endblock %}
        </div>
        <footer onload class="page-footer font-small">

          <!-- Footer Text -->
          <div class="container-fluid text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
        
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold mt-3">Footer text 1</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                  repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                  harum esse fugiat. Itaque, culpa?</p>
        
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <!-- Grid column -->
              <div class="col-md-6 mb-md-0 mb-3 mt-3">
        
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
                  commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
                  excepturi hic.</p>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Text -->
        
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/"> dararada.com</a>
          </div>
          <!-- Copyright -->
        
        </footer>
      
    </body>
</html>