{% extends "network/layout.html" %}

{% block body %}
<div id="top" class="d-flex justify-content-center">
    <a class="btn legalbutton" href="#waanlegal1">เงื่อนไขการใช้บริการสำหรับผู้ใช้</a>
    <a class="btn legalbutton" href="#waanlegal2">เงื่อนไขการใช้บริการสำหรับสตาร์</a>
    <a class="btn legalbutton" href="#waanlegal3">นโยบายความเป็นส่วนตัว</a>
</div>



<div id="waanlegal1" class="d-flex justify-content-center">
    <div class="legalintroduction">
        <h1 class="legalbiggestheading">เงื่อนไขการใช้บริการ</h1>
        <p class="legaldescription">Vidma ให้บริการสำหรับผู้ใช้ในการเชื่อมต่อกับบุคคลสาธารณะที่พวกเขาชื่นชอบ ข้อกำหนดการใช้งานเว็บไซต์นี้หรือ (“ข้อกำหนด”) ควบคุมการใช้งาน Vidma ของคุณและคุณสมบัติ ซอฟต์แวร์ และบริการที่เรานำเสนอ</p>
            <h6 class="legalboldtext">โปรดอ่านข้อกำหนดเหล่านี้อย่างละเอียด:</h6> โดยการยอมรับเงื่อนไขการใช้งาน รวมถึงนโยบายความเป็นส่วนตัว แสดงว่าคุณยอมรับข้อกำหนดเหล่านี้ และคุณตกลงที่จะปฏิบัติตามข้อกำหนดเหล่านี้ หากคุณไม่เห็นด้วย โปรดอย่าเข้าถึงหรือใช้ไซต์ของเรา
        </p>
    </div>
</div>
    
<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">บัญชีของคุณ</h6> 
            ในการเข้าถึงบริการของเรา คุณต้องสร้างบัญชี โดยการยอมรับข้อกำหนด คุณตกลงที่จะให้ข้อมูลที่ถูกต้องและเป็นจริง คุณตกลงที่จะไม่สร้างบัญชีด้วยข้อมูลหรือตัวตนที่เป็นเท็จ เรามีสงวนสิทธิ์ในการปิดการใช้งานหรือระงับบัญชีของคุณชั่วคราวได้ตลอดเวลา หากคุณไม่ปฏิบัติตามข้อกำหนดเหล่านี้ เป็นสิ่งสำคัญที่คุณต้องรักษาข้อมูลบัญชีของคุณให้เป็นปัจจุบัน คุณมีหน้าที่รับผิดชอบในการเก็บข้อมูลที่เป็นความลับของคุณ รวมทั้งชื่อผู้ใช้ รหัสผ่าน และอื่นๆ คุณได้ตกลงว่าเราจะไม่รับผิดชอบต่อความเสียหาย ความสูญเสีย หรือค่าใช้จ่ายใดๆ ที่เกี่ยวข้องกับการเข้าถึงไซต์ของคุณโดยไม่ได้รับอนุญาต
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">วิดีโอ Vidma</h6> 
                    <ul>
                    <li>คุณสามารถซื้อวิดีโอส่วนบุคคลจากบุคคลสาธารณะที่คุณชื่นชอบ (นักกีฬา สตรีมเมอร์/เกมเมอร์ นักแสดง นักดนตรี ฯลฯ) คุณต้องส่งคำขอโดยละเอียดเกี่ยวกับวิดีโอของคุณไปยังผู้มีอิทธิพลซึ่งสร้างขึ้นเพื่อคุณ</li>
                        <li>คำขอที่คุณส่งจะต้องชัดเจนและแม่นยำ คุณรับทราบว่าเราไม่รับผิดชอบต่อผลลัพธ์ใด ๆ ที่ไม่ตรงกับความต้องการของคุณ หากคำพูดของคุณไม่เฉพาะเจาะจง และบุคคลสาธารณะมีสิทธิ์ในการแก้ไขคำพูดของคุณเพื่อให้เหมาะกับข้อกำหนดของเรา</li>
                            <li>คุณรับทราบว่าคุณไม่สามารถขอวิดีโอที่มีเนื้อหาที่ไม่เหมาะสม:
                        <ul>
                        <li>ภาพเปลือย ภาพลามกอนาจาร หรือการแสดงภาพกิจกรรมทางเพศหรืออวัยวะเพศ</li>
                            <li>คำพูดแสดงความเกลียดชังหรือดูหมิ่น</li>
                                <li>ความรุนแรง</li>
                                    <li>ผิดกฎหมาย</li>
                                        <li>การกลั่นแกล้ง การล่วงละเมิด ความรุนแรง</li>
                                            <li>ลิขสิทธิ์ ทรัพย์สินทางปัญญา</li>
                                                <li>การเหยียดเชื้อชาติ การเลือกปฏิบัติ</li>
                                                    <li>พฤติกรรมสุดโต่ง</li>
                                                        <li>การค้า</li>
                        </ul></li>
                    <li>คุณสามารถใช้วิดีโอ Vidma ของคุณตามข้อกำหนดของเราเท่านั้น เราขอสงวนสิทธิ์ในการยกเลิกวิดีโอใด ๆ จากไซต์ของเราได้ตลอดเวลาหากพบว่าละเมิดข้อกำหนดใด ๆ</li>
                        <li>คุณรับทราบว่าหากคุณทำการชำระเงินซื้อวีดีโอ VIDMA ของเราแล้ว คุณไม่สามารถทำการยกเลิกการจองหรือขอเงินคืนได้โดยเด็ดขาด ก่อนคุณทำการชำระเงินซื้อวีดีโอ VIDMA คุณจะต้องกดยืนยันอีกครั้ง</li>
                            <li>คุณไม่สามารถขายต่อหรือทำการค้าวิดีโอ Vidma ของเราได้ คุณอาจให้อนุญาตช่วงสิทธิ์ของคุณในวิดีโอ Vidma ในขอบเขตที่จำเป็นตามที่ได้รับอนุญาตภายใต้ข้อกำหนดเหล่านี้ เราอาจยกเลิกสิทธิ์การใช้งานที่กล่าวมาทั้งหมดได้ทุกเมื่อไม่ว่าด้วยเหตุผลใดๆ โดยไม่ต้องแจ้งให้คุณทราบล่วงหน้า</li>
                                <li>การส่งใด ๆ ที่คุณทำ ร้องขอ หรือซื้อผ่านไซต์ของเราอาจถูกปฏิเสธโดยเราหรือบุคคลสาธารณะหากมีการละเมิดข้อกำหนดใด ๆ</li>
                                    <li>คุณรับทราบและตกลงว่าเราอาจใช้วิดีโอ Vidma ของคุณในแพลตฟอร์มโซเชียลมีเดียของเรา</li>
                </ul>
            </p>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">
                    การชำระเงิน
                    </h6> 
                    <ul>
                    <li>คุณสามารถซื้อวิดีโอ Vidma ของเราได้โดยใช้บัตรชำระเงินที่ถูกต้อง (exp: Visa หรือ MasterCard), TrueMoney Wallet และธนาคารออนไลน์ ธุรกรรมทั้งหมดชำระเป็นเงินบาท คุณรับทราบว่าคุณจะต้องรับผิดชอบในการชำระค่าใช้จ่ายใด ๆ ที่กำหนดโดยบัตรชำระเงินของคุณหรือรูปแบบการชำระเงินอื่น ๆ</li>
                        <li>คุณรับทราบว่า Vidma ไม่ได้เป็นเจ้าของหรือควบคุมการชำระเงินที่ให้ไว้ เงื่อนไขของบัตรชำระเงินของคุณอยู่ภายใต้นโยบายของผู้ให้บริการชำระเงินของคุณ</li>
                            <li> คุณรับทราบและตกลงที่จะจ่ายเงินทั้งหมดตามเงื่อนไขการชำระเงินเมื่อคุณส่งคำขอซื้อวิดีโอ Vidma ของเรา</li>
                                <li>คุณตกลงและรับทราบว่า Vidma มีสิทธิ์ยกเลิกการซื้อวิดีโอ Vidma ของคุณหาก: (i) วิธีการชำระเงินของคุณถูกปฏิเสธ (ii) คุณเคยถูกลบหรือระงับการใช้งานเว็บไซต์ของเราก่อนหน้านี้; หรือ (iii) คุณได้ละเมิดข้อกำหนดใด ๆ ของเรา</li>
                                    <li>Vidma ขอสงวนสิทธิ์ในการเปลี่ยนแปลงค่าธรรมเนียมการชำระเงิน ขั้นตอนการชำระเงิน และเงื่อนไขการชำระเงินได้ตลอดเวลา</li>
                                        <li>การคืนเงิน: หากคุณซื้อหรือขอวิดีโอ Vidma ของเราด้วยบัตรเครดิต (exp Visa หรือ MasterCard) และกระเป๋าเงิน TrueMoney คุณจะได้รับเงินคืนโดยอัตโนมัติในกรณีที่ (i) คุณไม่ได้รับวิดีโอ Vidma ที่ร้องขอจากบุคคลสาธารณะของเราก่อนเวลา คุณขอ (ii) วิดีโอ Vidma ที่คุณได้รับไม่เป็นไปตามข้อกำหนดของเรา อย่างไรก็ตาม หากคุณชำระเงินสำหรับวิดีโอ Vidma ผ่านธนาคารออนไลน์และไม่ได้รับวิดีโอตามเวลาที่คุณขอ โปรดติดต่อฝ่ายบริการลูกค้าของเรา (ระบุไว้ด้านล่าง) เกี่ยวกับการคืนเงิน เราจะใช้ดุลยพินิจแต่เพียงผู้เดียวในการพิจารณาว่าข้อพิพาทเรื่องการเรียกเก็บเงินระหว่างเราจะได้รับการแก้ไขอย่างไร</li>
                                            <li>หากคุณมีคำถามใด ๆ เกี่ยวกับการซื้อของคุณบนเว็บไซต์ของเรา คุณสามารถติดต่อฝ่ายบริการลูกค้าของเราได้ที่ vidma@vidma.tv หรือ +66 924159115</li>
                    </ul>
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">สิทธิที่เรามี
                </h6> 
                <ul>
                    <li>คุณรับทราบว่าเราอาจระงับหรือลบบัญชีใดๆ และไม่จำเป็นต้องแจ้งให้คุณทราบเกี่ยวกับการระงับดังกล่าว</li>
                        <li>ไม่ว่าด้วยเหตุผลใดก็ตาม เราอาจสงวนสิทธิ์ในการตัดสินใจว่าการส่งสำหรับบัญชีของคุณละเมิดข้อกำหนดของเราหรือไม่ และอาจลบสิ่งที่คุณส่งมา ลบหรือห้ามคุณ หรือดำเนินการอื่นใดสำหรับการละเมิดข้อกำหนดและเงื่อนไขเหล่านี้โดยไม่ต้องแจ้งให้คุณทราบ</li>
                </ul>
            
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">คุณรับทราบว่า</h6> 
                <ul>
                    
                        <li>คุณตกลงว่าคุณจะมา</li>
                            <li>คุณตกลงว่าคุณจะปฏิบัติตามข้อกำหนดทั้งหมดของผู้ให้บริการชำระเงินใดๆ ที่เราเลือก และคุณไม่ได้ถูกห้ามจากผู้ให้บริการชำระเงินรายนั้น</li>
                                <li>คุณรับทราบว่าลายน้ำ Vidma ในทุกวิดีโอ Vidma จะต้องไม่เสียหาย คุณตกลงที่จะไม่แก้ไข เปลี่ยนแปลง ครอบคลุม หรือลบลายน้ำ Vidma ออกจากวิดีโอ Vidma ใดๆ</li>
                                    <li>คุณรับทราบว่าคุณไม่สามารถใช้หรือแก้ไขวิดีโอ Vidma ใด ๆ ในขอบเขตที่อาจก่อให้เกิดอันตรายต่อบุคคลสาธารณะหรือบุคคลที่สาม Vidma จะไม่รับผิดชอบต่อวิดีโอ Vidma ใด ๆ ที่คุณร้องขอหรือซื้อ</li>
                                        <li> คุณไม่สามารถร้องขอหรือซื้อวิดีโอ Vidma ใด ๆ ที่อาจเป็นอันตรายหรือละเมิดสิทธิ์และความเป็นส่วนตัวของบุคคลที่สามหรือบุคคลสาธารณะของคุณ</li>
                                        <li>ผู้ใช้งานต้องดำเนินการสมัครสมาชิกตามขั้นตอนที่กำหนด หรือตามขั้นตอนอื่นใดที่อาจมีการแก้ไขเพิ่มเติมต่อไปในอนาคตให้เสร็จสิ้นแล้วเท่านั้น ผู้ใช้งานจึงจะสามารถซื้อวีดีโอบนเว็ปไซต์ได้</li>
                        
                </ul>
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legallastubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">วิธีที่เราอาจเปลี่ยนแปลงข้อกำหนด:</h6> 
                คุณรับทราบว่าเราอาจเปลี่ยนแปลงส่วนใดๆ ของข้อกำหนดโดยไม่ต้องแจ้งให้คุณทราบเมื่อใดก็ได้ เมื่อข้อกำหนดการใช้งานที่อัปเดตมีผลใช้ คุณจะผูกพันตามข้อกำหนดเหล่านี้หากคุณยังคงใช้ Vidma ต่อไป
            </p>    
    </div>
</div>

    <div class="d-flex justify-content-center">
        <a class="gobacktotop" href="#top">กลับไปข้างบน</a>
    </div>

<hr></hr>
<div id="waanlegal2" class="d-flex justify-content-center">
    <div class="legalintroduction">
        <h1 class="legalbiggestheading">เงื่อนไขการใช้งานบุคคลสาธารณะ</h1>
        <p class="legaldescription">ข้อกำหนดการใช้งานหรือ (“ข้อกำหนด”) เหล่านี้ควบคุมการใช้ Vidma ของคุณในฐานะบุคคลสาธารณะและคุณสมบัติ ซอฟต์แวร์ และบริการของคุณ “คุณ” และ “บุคคลสาธารณะ” หมายถึงบุคคลสาธารณะในเว็บไซต์ของเรา
        </p>
            <h6 class="legalboldtext">โปรดอ่านข้อกำหนดเหล่านี้อย่างละเอียด:</h6>  โดยการยอมรับเงื่อนไขการใช้งาน รวมถึงนโยบายความเป็นส่วนตัว แสดงว่าคุณยอมรับข้อกำหนดเหล่านี้ และคุณตกลงที่จะปฏิบัติตามข้อกำหนดเหล่านี้ หากคุณไม่เห็นด้วย โปรดอย่าเข้าถึงหรือใช้ไซต์ของเราในฐานะบุคคลสาธารณะ
        </p>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">บัญชีของคุณ</h6> 
                ในการเข้าถึงบริการของเรา คุณต้องสร้างบัญชี โดยการตกลงตามข้อกำหนด คุณได้ตกลงที่จะให้ข้อมูลที่แท้จริงและถูกต้องตลอดจนข้อมูลอื่นใดที่เราร้องขออย่างสมเหตุสมผลเพื่อยืนยันตัวตนของคุณ คุณตกลงที่จะไม่สร้างบัญชีด้วยข้อมูลหรือตัวตนที่เป็นเท็จ เราขอสงวนสิทธิ์ในการปิดการใช้งานหรือระงับบัญชีของคุณชั่วคราวได้ตลอดเวลา หากคุณไม่ปฏิบัติตามข้อกำหนดเหล่านี้ เป็นสิ่งสำคัญที่คุณต้องรักษาข้อมูลบัญชีของคุณให้เป็นปัจจุบัน คุณมีหน้าที่รับผิดชอบในการเก็บข้อมูลที่เป็นความลับของคุณ รวมทั้งชื่อผู้ใช้ รหัสผ่าน และอื่นๆ คุณได้ตกลงว่าเราจะไม่รับผิดชอบต่อความเสียหาย ความสูญเสีย หรือค่าใช้จ่ายใดๆ ที่เกี่ยวข้องกับการเข้าถึงไซต์ของคุณโดยไม่ได้รับอนุญาต

            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">วิดีโอ Vidma</h6> 
                    <ul>
                        <li>ความยาวของวิดีโอ Vidma มีตั้งแต่ 15-45 วินาทีตามข้อตกลงหรือคำขอของคุณจากผู้ใช้ที่ซื้อวิดีโอ วิดีโอ Vidma จะทำตามคำแนะนำและคำขอทั่วไปจากผู้ใช้ เช่น ข้อความสุขสันต์วันเกิด ข้อความย่าง หรือข้อความแสดงความยินดี</li>
                            <li>หากคุณยอมรับคำขอจากผู้ใช้ แสดงว่าคุณตกลงที่จะบันทึกและอัปโหลดไปยัง Vidma ภายในวันที่ครบกำหนด คุณสามารถปฏิเสธคำขอใดๆ ที่ผู้ใช้ส่งมาได้ ขึ้นอยู่กับดุลยพินิจของคุณ ในการสร้างวิดีโอ Vidma หากคำขอของผู้ใช้เป็นการละเมิดต่อคุณ</li>
                                <li>คุณรับทราบและยอมรับว่าเราถือสิทธิ์เป็นเจ้าของวีดีโอ Vidma ทั้งหมดที่คุณบันทึกลงในเว็ปไซต์ของเรา</li>
                              <li>คุณจะมีดุลยพินิจ แต่เพียงผู้เดียวในเนื้อหาของวิดีโอ Vidma ของคุณ ตราบใดที่วิดีโอนั้นปฏิบัติตามคำแนะนำทั่วไปที่ผู้ใช้ร้องขอ วิธีที่คุณต้องการตอบสนองต่อคำขอของผู้ใช้เป็นความรับผิดชอบของคุณ ซึ่งต้องอยู่ภายใต้ข้อกำหนดของเรา โดยส่วนใหญ่ ผู้ใช้จะพึงพอใจเมื่อคุณปฏิบัติตามคำขอส่วนใหญ่ของพวกเขา อย่างไรก็ตาม ในกรณีที่คุณส่งวิดีโอ Vidma แต่ไม่ปฏิบัติตามคำแนะนำทั่วไปที่ผู้ใช้ร้องขอ เราจะหารือกับคุณเกี่ยวกับการปรับเปลี่ยนการชำระเงินของคุณอย่างเหมาะสม</li>
                                    <li>คุณรับทราบและยอมรับว่าเป็นความรับผิดชอบของคุณในการดำเนินการตามคำขอจากผู้ใช้ภายในระยะเวลาที่คุณตกลงไว้ ในกรณีที่คุณไม่สามารถดำเนินการตามคำขอได้ภายในระยะเวลาที่คุณตกลง เราจะหารือกับคุณเกี่ยวกับแนวทางแก้ไขที่เหมาะสมในการปรับการชำระเงินที่ชำระให้กับคุณ</li>
                                        <li>เรามีสิทธิ์ยกเลิกการซื้อใดๆ จากผู้ใช้ ดังนั้นจะไม่มีการชำระเงินให้กับคุณในกรณีที่คำขอละเมิดข้อกำหนด ยกเลิก หรือปฏิเสธ</li>
                    </ul>

            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">การชำระเงิน
                </h6> 
                <ul>
                    <li>คุณกำหนดราคาวิดีโอ Vidma ของคุณเองโดยที่วิดีโอ Vidma แต่ละรายการต้องมีราคาอย่างน้อย 50 บาท</li>
                        <li>เราจะจ่ายให้คุณ 85% ของค่าธรรมเนียมที่เราได้รับจากวิดีโอ Vidma แต่ละรายการของเรา</li>
                            <li>Vidma ขอสงวนสิทธิ์ในการเปลี่ยนแปลงค่าธรรมเนียมการชำระเงิน ขั้นตอนการชำระเงิน และเงื่อนไขการชำระเงินได้ตลอดเวลา</li>
                                <li>ในกรณีที่คุณดำเนินการตามคำขอไม่สำเร็จภายในระยะเวลาที่คุณตกลงไว้เกิน 3 ครั้ง เราจะลงโทษคุณโดยรับ 30% ของวิดีโอ Vidma ถัดไปของคุณ</li>
                </ul>

            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">สิทธิที่เรามี
                </h6> 
                <ul>
                    <li>คุณรับทราบว่าเราอาจระงับหรือลบบัญชีใดๆ และไม่จำเป็นต้องแจ้งให้คุณทราบเกี่ยวกับการระงับดังกล่าว</li>
                        <li>ไม่ว่าด้วยเหตุผลใดก็ตาม เราอาจสงวนสิทธิ์ในการตัดสินใจว่าการส่งสำหรับบัญชีของคุณละเมิดข้อกำหนดของเราหรือไม่ และอาจลบสิ่งที่คุณส่งมา ลบหรือห้ามคุณ หรือดำเนินการอื่นใดสำหรับการละเมิดข้อกำหนดและเงื่อนไขเหล่านี้โดยไม่ต้องแจ้งให้คุณทราบ</li>
                </ul>
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legallastubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">วิธีที่เราอาจเปลี่ยนแปลงข้อกำหนด:</h6> 
                คุณรับทราบว่าเราอาจเปลี่ยนแปลงส่วนใดๆ ของข้อกำหนดโดยไม่ต้องแจ้งให้คุณทราบเมื่อใดก็ได้ เมื่อข้อกำหนดการใช้งานที่อัปเดตมีผลใช้ คุณจะผูกพันตามข้อกำหนดเหล่านี้หากคุณยังคงใช้ Vidma ต่อไป
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <a class="gobacktotop" href="#top">กลับไปข้างบน</a>
</div>

<hr></hr>

<div id="waanlegal3" class="d-flex justify-content-center">
    <div class="legalintroduction">
        <h1 class="legalbiggestheading">นโยบายความเป็นส่วนตัว
        </h1>
        <p class="legaldescription">คุณรับทราบว่าการที่เราจะให้บริการนั้นจำเป็นต้องมีการรวบรวมและใช้ข้อมูลของคุณ เพื่อที่จะใช้ Vidma คุณต้องยอมรับนโยบายความเป็นส่วนตัว

            Vidma (“Vidma'', “us” หรือ “we”) เรามุ่งมั่นที่จะปกป้องความเป็นส่วนตัวของคุณ นโยบายความเป็นส่วนตัวอธิบายวิธีที่เราจัดเก็บ รวบรวม ใช้ และเปิดเผยข้อมูลของคุณ
            
            เราอาจเปลี่ยนแปลงหรือแก้ไขนโยบายความเป็นส่วนตัวของเราได้ตลอดเวลา เราจะแจ้งให้คุณทราบโดยโพสต์นโยบายความเป็นส่วนตัวฉบับแก้ไขบนเว็บไซต์ของเราหรืออัปเดต "อัปเดตล่าสุด" ที่ด้านบนของนโยบาย การเปลี่ยนแปลงนโยบายความเป็นส่วนตัวจะมีผลทันที เพื่อใช้งานเว็บไซต์ของเราต่อไป คุณตกลงที่จะแก้ไขนโยบายความเป็นส่วนตัวในขอบเขตสูงสุด โปรดแก้ไขข้อกำหนดการใช้งานซึ่งใช้กับข้อกำหนดของเว็บไซต์ของเรา
        </p> 
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">เราจะเก็บรวบรวมข้อมูลอะไร?
                </h6> 
                เราเริ่มรวบรวมข้อมูลของคุณเมื่อคุณสร้างบัญชีหรือเริ่มใช้ไซต์ของเรา นอกจากนี้ ข้อมูลที่คุณแบ่งปันกับเราจากผู้ให้บริการบุคคลที่สามและข้อมูลพฤติกรรมเกี่ยวกับวิธีที่คุณใช้ไซต์ของเราจะถูกเก็บรวบรวมด้วย เรายังรวบรวมข้อมูลที่อยู่ในข้อความ คำขอ และการส่งที่คุณส่งผ่านแพลตฟอร์มของเรา ข้อมูลเพิ่มเติมเกี่ยวกับแหล่งที่มาและประเภทของข้อมูลจะได้รับด้านล่าง
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="legalsubtopics">
          <p class="legaldescription">
              <h6 class="legalboldtext">ประเภทข้อมูลส่วนบุคคลที่เก็บรวบรวม

              </h6> 
               <ul>
                  <li>ข้อมูลส่วนบุคคล ได้แก่ ภาพประจำตัวบุคคล ชื่อ - นามสกุล </li>
                    <li>ข้อมูลการติดต่อ ได้แก่ หมายเลขโทรศัพท์ อีเมล</li> 
                      <li>ข้อมูลบัญชี ได้แก่ ประวัติการใช้งานทั้งหมด</li>  
                        <li>ข้อมูลการทำธุระกรรมและการเงิน ได้แก่ ประวัติการซื้อวีดีโอ </li>
                          <li>ข้อมูลทางเทคนิค เช่น IP Address หรือ ประวัติการใช้งานเว็บไซต์</li>
                            <li>ข้อมูลอื่น ๆ เช่น รูปภาพ วีดีโอ และข้อมูลอื่นใดที่ถือว่าเป็นข้อมูลส่วนบุคคลตามกฎหมาย</li>
              </ul>
          </p>    
  </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">ข้อมูลที่คุณให้

                </h6> 
                 <ul>
                    <li>คุณอาจให้ข้อมูลต่อไปนี้เมื่อคุณลงทะเบียน ส่ง หรืออัปโหลดเนื้อหาไปยังไซต์</li>
                        <li>ข้อมูลการลงทะเบียน รวมถึงอายุ ชื่อผู้ใช้ รหัสผ่าน ที่อยู่อีเมล ภาษา หรือหมายเลขโทรศัพท์ของคุณ</li>
                            <li>ข้อมูลโปรไฟล์ รวมถึงชื่อ-นามสกุล ข้อมูลโซเชียลมีเดีย และรูปโปรไฟล์ของคุณ</li>
                                <li>ข้อมูลการชำระเงิน รวมถึงประวัติการทำธุรกรรมของคุณ นอกจากนี้ เราเก็บรวบรวมข้อมูลที่คุณให้ไว้เมื่อคุณร้องขอหรือซื้อวิดีโอ Vidma เช่น ชื่อ ที่อยู่อีเมล หรือหมายเลขโทรศัพท์ที่คุณเลือกให้เรา</li>
                            <li>ข้อมูลการชำระเงิน รวมถึงหมายเลขบัตรชำระเงินของคุณหรือรูปแบบการชำระเงินอื่น ๆ (กระเป๋าเงิน TrueMoney หรือธนาคารออนไลน์) และประวัติการทำธุรกรรมของคุณ นอกจากนี้ เราเก็บรวบรวมข้อมูลที่คุณให้ไว้เมื่อคุณร้องขอหรือซื้อวิดีโอ Vidma เช่น ชื่อ ที่อยู่อีเมล หรือหมายเลขโทรศัพท์ที่คุณเลือกให้เรา</li>
                                    <li>ข้อมูลที่อาจใช้เพื่อระบุตัวคุณ เช่น หลักฐานระบุตัวตนหรืออายุของคุณ</li>
                                        <li>เรายังเก็บรวบรวมข้อมูลที่คุณส่งมาให้เรา ซึ่งรวมถึงบทวิจารณ์ อีเมล ข้อความ สื่อโพสต์ หรือการสื่อสารอื่นๆ ในกรณีที่คุณเป็นบุคคลสาธารณะ การส่งแต่ละครั้งที่คุณส่งไปยังไซต์จะอยู่ภายใต้ข้อกำหนดการใช้งานซึ่งหมายความว่าผู้อื่นอาจเข้าถึงและแบ่งปันตามข้อกำหนดการใช้งานของเรา</li>
                 </ul>   
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">ข้อมูลที่เรารวบรวมโดยอัตโนมัติ
                </h6> 
                เราอาจรวบรวมข้อมูลบางอย่างเมื่อคุณเข้าถึงหรือใช้เว็บไซต์ของเราโดยอัตโนมัติ ตัวอย่างเช่น ข้อมูลกิจกรรมเครือข่ายของคุณ เช่น ที่อยู่ IP ประวัติการค้นหา หรือเนื้อหาที่คุณเคยดูในไซต์ของเราและ ตัวระบุอุปกรณ์เฉพาะ <br></br>

                <h6 class="legalitalictext">ข้อมูลอุปกรณ์</h6>
                เรารวบรวมข้อมูลเกี่ยวกับอุปกรณ์ที่คุณใช้เพื่อเข้าถึงหรือใช้เว็บไซต์ของเรา รวมถึงที่อยู่ IP ตัวแทนผู้ใช้ ผู้ให้บริการมือถือ การตั้งค่าเขตเวลา ตัวระบุเพื่อการโฆษณา รุ่นของอุปกรณ์ ระบบอุปกรณ์ ประเภทเครือข่าย และ ID อุปกรณ์
                
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legalsubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">เราใช้ข้อมูลอย่างไร
                </h6> 
               <ul>
                <li>เราอาจใช้ข้อมูลของคุณที่คุณให้ไว้เพื่อดำเนินการ ปรับแต่ง และปรับปรุงเว็บไซต์ของเรา</li>
                    <li>เราอาจใช้ข้อมูลของคุณเพื่อตอบสนองคำขอของคุณหรือซื้อวิดีโอ Vidma</li>
                        <li>เพื่อช่วยในการทำธุรกรรมการชำระเงินและเพื่อรักษาและสื่อสารกับคุณเกี่ยวกับบัญชีของคุณ</li>
                            <li> เพื่อส่งโปรโมชั่น ข้อมูล หรือข้อจำกัดความรับผิดชอบจากเรา หากคุณเลือกที่จะรับสิ่งเหล่านี้</li>
               </ul>
            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="legalsubtopics">
          <p class="legaldescription">
              <h6 class="legalboldtext">ระยะเวลาจัดเก็บข้อมูลส่วนบุคคล
              </h6> 
             <ul>
              เราจะเก็บรักษาข้อมูลส่วนบุคคลของคุณไว้ตามระยะเวลาที่จำเป็นในระหว่างที่คุณเป็นลูกค้าหรือมีความสัมพันธ์กับเรเพื่อให้บรรลุวัตถุประสงค์ที่เกี่ยวข้องกับนโยบายฉบับนี้ ซึ่งอาจจำเป็นต้องเก็บรักษาไว้ต่อไปภายหลังจากนั้น หากมีกฎหมายกำหนดไว้ เราจะลบ หรือทำให้เป็นข้อมูลที่ไม่สามารถระบุตัวตนของคุณได้ เมื่อหมดความจำเป็นหรือสิ้นสุดระยะเวลาดังกล่าว 
             </ul>
          </p>    
  </div>
</div>

<div class="d-flex justify-content-center">
    <div class="legallastubtopics">
            <p class="legaldescription">
                <h6 class="legalboldtext">ความปลอดภัยของข้อมูล</h6> 
                เรายึดถือความเป็นส่วนตัวและข้อมูลที่คุณส่งมาเป็นสิ่งที่เราให้ความสำคัญสูงสุด อย่างไรก็ตาม ไม่มีวิธีการส่งหรือวิธีการจัดเก็บทางอินเทอร์เน็ตที่ปลอดภัย 100% ดังนั้น คุณรับทราบและยอมรับว่าคุณเข้าถึง ใช้ และส่งข้อมูลของคุณไปยังไซต์ของเราโดยยอมรับความเสี่ยงเอง ในปัจจุบัน เรายังไม่มีบุคคลหรือองค์กรที่ทางเราส่งต่อข้อมูลส่วนบุคคลของคุณไปให้ หากในอนาคตมีการเปลี่ยนแปลง เราจะแจ้งให้ทราบในนโยบายฉบับนี้

            </p>    
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="legallastubtopics">
          <p class="legaldescription">
              <h6 class="legalboldtext">วัตถุประสงค์ที่เราเก็บข้อมูล</h6> 
              เราบันทึกข้อมูลส่วนบุคคลของคุณเพื่อความสะดวกในการใช้งานในเว็บไซต์ของเรา นอกจากนี้ เหตุผลที่เราบันทึกข้อมูลส่วนบุคคลของคุณมีไว้เพื่อให้ดาวและผู้ใช้รายอื่นสามารถระบุตัวคุณได้

          </p>    
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="legallastubtopics">
          <p class="legaldescription">
              <h6 class="legalboldtext">รายละเอียดการติดต่อ</h6> 
              หากคุณต้องการสอบถามข้อมูลเกี่ยวกับนโยบายความเป็นส่วนตัวฉบับนี้ รวมถึงการขอใช้สิทธิตามต่าง ๆ ต้องการลบ แก้ไขข้อมูลส่วนบุคคลที่เราเก็บไว้ หรือสอบถามเกี่ยวกับนโยบายความเป็นส่วนตัว คุณสามารถติดต่อฝ่ายบริการลูกค้าของเราได้ที่ 
              <ul>
                <li>อีเมล vidma@vidma.tv </li>
                <li>หมายเลขโทรศัพท์ +66 924159115</li>
                <li>146 ลาดพร้าว 107 แขวงคลองจั่น เขตบางกะปิ กรุงเทพมหานคร 10240</li>
              </ul>

          </p>    
  </div>
</div>

<div class="d-flex justify-content-center">
    <a class="gobacktotop" href="#top">กลับไปข้างบน</a>
</div>
{% endblock %}

