{% extends "network/layout.html" %}

{% block body %}

    <div class="godown"></div>

    <div class="d-flex justify-content-center">
        <h3 class="registertitle">เข้าสู่ระบบ</h3>
    </div>


    {% if message %}
        <script>
             Swal.fire({
                icon: 'error',
                title: 'ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง',
              })
        </script>    
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center mt-4">
            <div class="coverslogin">
                <div class="d-flex justify-content-start">
                    <label class="labeldara" for="cars">ชื่อผู้ใช้:</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input autofocus class="inputhehorelog"  type="text" name="username" placeholder="ยูสเซ่อเนม">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="coverslogin">
                <div class="d-flex justify-content-start">
                    <label class="labeldara" for="cars">รหัสผ่าน:</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="inputhehorelog" type="password" name="password" placeholder="รหัสผ่าน">
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center mt-3">
            <input class="btn registerbtnlog" type="submit" value="เข้าสู่ระบบ">
        </div>
    </form>

    <div class="d-flex justify-content-center mt-2">
        <a href="{% url 'register' %}">ยังไม่มีบัญชี</a>
    </div>
    <div class="d-flex justify-content-center mt-2 mb-5">
        <a href="{% url 'password_reset' %}">ลืมรหัสผ่านใช่หรือไม่</a>
    </div>


{% endblock %}