{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div id="wholenewportal">
        <div class="d-flex justify-content-center">
            <div class="w-25">
                <label class="mt-2" for="ex1">Portal Name</label>
                <input id="portalnameid" class="form-control" id="ex1" value="" type="text">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-25 mt-2">
                <label class="mt-2" for="ex1">Portal Description</label>
                <textarea id="portaldesid" class="form-control" id="ex1" value="" type="text"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-25 mt-2">
                <label class="mt-2" for="ex1">Useful links</label>
                <input id="portalurlid" class="form-control" id="ex1" type="text">
            </div>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <form id="compose-form">
                {% csrf_token %}
                <input id="submitpostnewportal" type="submit" value="Create"class="btn btn-primary"/>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/newportal.js' %}"></script>
{% endblock %}

