{% extends "network/layout.html" %}

{% block body %}

    {% if validlink %}

    <div class="d-flex justify-content-center">
        <p class="godownnewrahus">ตั้งรหัสผ่านใหม่</p>
    </div>


        <div class="d-flex justify-content-center">
        <div class="newpasswordbackground">
            <form id="formnewpassword" method="post">
                {% csrf_token %}
        
                <p class="newpasswodwholesec">
                    <label class="newpasswordtext" for="id_new_password1">รหัสผ่านใหม่:</label><br>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" class="newpasswordinput" id="id_new_password1">
                </p>
            
                <p class="newpasswodwholesec">
                    <label class="newpasswordtext" for="id_new_password2">ยืนยันรหัสผ่านใหม่:</label><br>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" class="newpasswordinput" id="id_new_password2">
            
                </p>
                <span class="helptext"></span></p><ul><li>รหัสผ่านของคุณต้องไม่เหมือนกับข้อมูลส่วนบุคคลอื่น ๆ ของคุณมากเกินไป</li><li>รหัสผ่านของคุณต้องมีอย่างน้อย 8 ตัวอักษร</li><li>รหัสผ่านของคุณไม่สามารถเป็นรหัสผ่านที่ใช้กันทั่วไปได้</li><li>รหัสผ่านของคุณต้องไม่เป็นตัวเลขทั้งหมด</li></ul>
                <button class="setnewpwbutton" type="submit">บันทึก</button>

            </form>
        
        </div>
    </div>

    {% endif %}
    
    

{% endblock %}