{% extends "network/layout.html" %}

{% block body %}

<div class="d-flex justify-content-center godownmiddle">
<div class="resetpasswordpage">


      <div class="d-flex justify-content-center">
  
          <div class="d-flex flex-column">
                <p class="m-auto p-2">
                  เราได้ส่งอีเมลคำแนะนำในการตั้งรหัสผ่านให้คุณแล้ว หากมีบัญชีที่ใช้อีเมลที่คุณป้อน
                  คุณควรจะได้รับมันในไม่ช้า
                </p>
                <p class="m-auto p-2">
                  หากคุณไม่ได้รับอีเมล โปรดตรวจสอบให้แน่ใจว่าคุณได้ป้อนที่อยู่ที่คุณลงทะเบียนไว้
                   และตรวจสอบโฟลเดอร์สแปมของคุณ
                </p>
                <p class="m-auto p-2"><a href="{% url 'index' %}">กลับหน้าหลัก</a></p>
          </div>
      </div>
    </div>
  </div>

{% endblock %}