{% extends "network/layout.html" %}

{% block body %}
<script src="https://www.google.com/recaptcha/api.js?hl=th" async defer></script>

<script>
    document.querySelector('#tooltiptextid').hidden = true
   

    function clickPassword()
    {
        
        document.querySelector('#tooltiptextid').hidden = false
    }
    function onSubmit()
    {
        document.querySelector('#registerid').hidden = false
    }
    function botdetected()
    {
        Swal.fire({
        icon: 'error',
        text: 'กรุณาปิดหน้านี้แล้วเปิดใหม่',
        })
    }
   
    document.querySelector('#tooltiptextid').hidden = true


</script>
    <div class="godown"></div>

    <div class="d-flex justify-content-center">
        <h3 class="registertitle">สร้างบัญชีใหม่</h3>
    </div>

    {% if message %}
        {% if message == "email" %}
            <script>
                Swal.fire({
                icon: 'error',
                title: 'อีเมลซํ้า!',
                text: 'กรุณาใส่อีเมลใหม่!',
              })
            </script>
        {% elif message == "username" %}
            <script>
                Swal.fire({
                icon: 'error',
                title: 'ชื่อผู้ใช้ซั้า!',
                text: 'กรุณาใส่ชื่อผู้ใช้ใหม่!'
              })
            
            
            </script>   

        {% elif message == "captcha" %}
        <script>
            Swal.fire({
            icon: 'error',
            title: 'ลืมกรอกcaptcha!'
        })


        </script>   
        {% else %}
            <script>
                Swal.fire({
                icon: 'error',
                title: 'รหัสไม่ตรงกัน',
                text: 'กรุณาใส่รหัสสองช่องให้เหมือนกัน!'
              })
            
            
            </script>   
        {% endif %}
    {% endif %}    

    

    <form action="{% url 'register' %}" method="post" >

        {% csrf_token %}
        <div class="d-flex justify-content-center mt-4">
            <div class="coverslogin">
                <div class="d-flex justify-content-start">
                    <label class="labeldara" for="cars">ชื่อผู้ใช้:</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="inputhehorelog" minlength="3" title="ห้ามมีตัวอักษรพิเศษเช่น !/#$฿" autofocus type="text" name="username" placeholder="ตัวอย่าง: walouch">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="coverslogin">
                <div class="d-flex justify-content-start">
                    <label class="labeldara" for="cars">อีเมล:</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="inputhehorelog" type="email" name="email" placeholder="ตัวอย่าง: araisukyarng@gmail.com">
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="coverslogin">

                <div class="d-flex justify-content-start">
                    <label class="labeldara" for="cars">รหัสผ่าน:</label>
                </div>

   
                <div class="d-flex justify-content-center">
                    <input class="inputhehorelog" type="password" name="password" placeholder="ตัวอย่าง: abcdefgh" pattern="{8,}" title="ต้องมีความยาวมากกว่า 8 ตัวอักษร ">
                </div>
                <label class="wapassword d-flex justify-content-center">ต้องมีความยาวมากกว่า 8 ตัวอักษร</label> 

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="coverslogin">
                <div class="d-flex justify-content-start">
                    <label class="labeldara" for="cars">ยืนยันรหัสผ่าน:</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="inputhehorelog" type="password" name="confirmation" placeholder="ยืนยันรหัสผ่าน">
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column ml-4 mt-2">
                <div class="d-flex justify-content-start">
                    <input id="checkboxdara" required type="checkbox" class="inputcheckboxdara mt-2 mr-2" name="checkboxdaraname">
                    <label class="mt-2 sarabun">ฉันได้อ่านและยอมรับ<a target="_blank" href="/legal"> ข้อตกลงและเงื่อนไข </a>การใช้งานของ VIDMA*</label>       
                </div> 

                <div class="d-flex justify-content-start">
                    <input id="checkboxdara" required type="checkbox" class="inputcheckboxdara mt-2 mr-2" name="checkboxdaraname">
                    <label class="mt-2 sarabun">ฉันได้อ่านและยอมรับ <a target="_blank" href="/legal">นโยบายคุ้มครองความเป็นส่วนตัว*</a></label>       
                </div> 

                <div class="d-flex justify-content-start">
                    <input id="checkboxdara" type="checkbox" class="inputcheckboxdara mt-2 mr-2" name="checkboxdaraname">
                    <label class="mt-2 sarabun">ฉันสนใจรับข้อมูลข่าวสาร ส่วนลด และโปรโมชันจาก VIDMA</label>  
                </div> 
            </div>
        </div>
       
        
        <div class="d-flex justify-content-center mt-2">
            <div class="g-recaptcha" data-theme='light'data-callback='onSubmit' data-error-callback='botdetected' data-sitekey="6LdALikgAAAAABZj10DvMclBlWPsZ3D8mB3i-6C7"></div>
        </div>

        <div class="d-flex justify-content-center mt-3">
             <input hidden id="registerid" class="btn registerbtnlog" type="submit" value="สมัคร">
        </div>

    </form>

    <div class="d-flex justify-content-center mt-2">
        <a href="{% url 'login' %}">มีบัญชีแล้ว</a>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a href="{% url 'password_reset' %}">ลืมรหัสผ่านใช่หรือไม่</a>
    </div>




{% endblock %}