{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_superuser == 1 %}
<div class="d-flex justify-content-between superuserclass">
<div>
    <form action="{% url 'superusersuperpassword' %}" method="post">
    {% csrf_token %}
    
    <input name="superuserpassword" placeholder="passwordpls"></input>
    <input class="btn btn-primary" type="submit" value="Enter">
    </form>
  



</div>




{% else %}
<h2>We might look to hire!</h2>
<h2>waanwaanwilachat@gmail.com</h2>



{% endif %}



{% endblock %}

{% block script %}
{% endblock %}
