{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_superuser == 1 %}

{% for i in alltheinfo %}
    <form action="{% url 'superuser' %}" method="post">
        {% csrf_token %}
    <h6>{{i.name}}</h6>
    <h6>{{i.email}}</h6>
    <h6>{{i.phone}}</h6>
    <h6>{{i.find}}</h6>
    <h6>{{i.findusername}}</h6>
    <h6>{{i.follownum}}</h6>
    <input name="idofuser" type="hidden" value={{i.requested_user_id}}></input>
    <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% endfor %}



{% else %}
<h2>We might look to hire!</h2>
<h2>waanwaanwilachat@gmail.com</h2>
{% endif %}



{% endblock %}

{% block script %}
{% endblock %}
