{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{% if user.influencer_ornot == True %}

    <script>
   

        let isAudioMuted = false;
        let isVideoMuted = false;
        let bigroom = ""

        const AudioContext = window.AudioContext || window.webkitAudioContext;
const audioContext = AudioContext ? new AudioContext() : null;


function rootMeanSquare(samples) {
  const sumSq = samples.reduce((sumSq, sample) => sumSq + sample * sample, 0);
  return Math.sqrt(sumSq / samples.length);
}

async function pollAudioLevel(track, onLevelChanged) {
  if (!audioContext) {
    return;
  }

  // Due to browsers' autoplay policy, the AudioContext is only active after
  // the user has interacted with your app, after which the Promise returned
  // here is resolved.
  await audioContext.resume();

  // Create an analyser to access the raw audio samples from the microphone.
  const analyser = audioContext.createAnalyser();
  analyser.fftSize = 1024;
  analyser.smoothingTimeConstant = 0.5;

  // Connect the LocalAudioTrack's media source to the analyser.
  const stream = new MediaStream([track.mediaStreamTrack]);
  const source = audioContext.createMediaStreamSource(stream);
  source.connect(analyser);

  const samples = new Uint8Array(analyser.frequencyBinCount);
  let level = null;

  // Periodically calculate the audio level from the captured samples,
  // and if changed, call the callback with the new audio level.
  requestAnimationFrame(function checkLevel() {
    analyser.getByteFrequencyData(samples);
    const rms = rootMeanSquare(samples);
    const log2Rms = rms && Math.log2(rms);

    // Audio level ranges from 0 (silence) to 10 (loudest).
    const newLevel = Math.ceil(10 * log2Rms / 8);
    if (level !== newLevel) {
      level = newLevel;
      onLevelChanged(level);
    }

    // Continue calculating the level only if the audio track is live.
    if (track.mediaStreamTrack.readyState === 'live') {
      requestAnimationFrame(checkLevel);
    } else {
      requestAnimationFrame(() => onLevelChanged(0));
    }
  });
}

        const testaudio = async () => {

        
            const { createLocalAudioTrack } = Twilio.Video;

            const audioTrack = await createLocalAudioTrack();

            // Display the audio level.
            pollAudioLevel(audioTrack, level => {
                document.querySelector('#voiceshowmofoid').innerHTML = level
            /* Update audio level indicator. */
            });
            
        }


        const testvideo = async () => {
        const { createLocalVideoTrack } = Twilio.Video;




        const videoTrack = await createLocalVideoTrack();
        console.log("check for video track", videoTrack)

        // Display the video preview.
        const divContainer = document.getElementById('local-video');
        const videoElement = videoTrack.attach();
        console.log("check for video element", videoElement)
        videoElement.setAttribute("class", "videotestclass");
        divContainer.appendChild(videoElement);
        

        };
        testaudio()
        testvideo()


  

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const joinVideoRoom = async (roomName, token) => {
         

            //join the video room with the Access Token and the given room name
           const room = await Twilio.Video.connect(token, {
                room: roomName,
            });
            return room;
            };      

        function leaveCall()
        {
           
            window.location.href = "http://127.0.0.1:8000/testlive"
            Swal.fire({
                icon: 'Success',
                title: 'You Left The Room',
              })
        }


        function muteOrUnmute(type)
        {

            console.log("bigroom", bigroom)
         ;

            if (type == "video")
            {

                if (isVideoMuted == false)
                {
                    

                    bigroom.localParticipant.videoTracks.forEach(
                    publication => publication.track.disable());
                    document.getElementById('stopvideo').innerHTML = "Unmute Video"

                    isVideoMuted = true
                }
                else
                {
                    bigroom.localParticipant.videoTracks.forEach(
                    publication => publication.track.enable());
                    document.getElementById('stopvideo').innerHTML = "Mute Video"


                    isVideoMuted = false
                }
            }
            else
            {
                if (isAudioMuted == false)
                {
                    

                    bigroom.localParticipant.audioTracks.forEach(
                    publication => publication.track.disable());
                    document.getElementById('stopaudio').innerHTML = "Unmute Audio"


                    isAudioMuted = true
                }
                else
                {
                    bigroom.localParticipant.audioTracks.forEach(
                    publication => publication.track.enable());
                    document.getElementById('stopaudio').innerHTML = "Mute Audio"


                    isAudioMuted = false
                }

            }

        }


        function handleDisconnectedParticipant(participant)
        {
            // stop listening for this participant
            participant.removeAllListeners();
            // remove this participant's div from the page
            const participantDiv = document.getElementById(participant.identity);
            participantDiv.remove();
        }
        function handleConnectedParticipant(participant)
        {
            const container = document.getElementById("video-container");

            console.log("this is participant", participant)
            const participantDiv = document.createElement("div");
            participantDiv.setAttribute("id", participant.identity);
            participantDiv.setAttribute("class", "livevideodiv");
            container.appendChild(participantDiv);

            // iterate through the participant's published tracks and
            // call `handleTrackPublication` on them
            participant.tracks.forEach((trackPublication) => {
                handleTrackPublication(trackPublication, participant);
            });

            // listen for any new track publications
            participant.on("trackPublished", handleTrackPublication);
        }
        function handleTrackPublication(trackPublication, participant)
        {
            function displayTrack(track) {
                // append this track to the participant's div and render it on the page
                const participantDiv = document.getElementById(participant.identity);
                // track.attach creates an HTMLVideoElement or HTMLAudioElement
                // (depending on the type of track) and adds the video or audio stream
            

                participantDiv.append(track.attach());
            }

            if (trackPublication.track) {
                displayTrack(trackPublication.track);
            }

            // listen for any new subscriptions to this track publication
            trackPublication.on("subscribed", displayTrack);
        }
        function getAccessToken()
        {
            const form = document.getElementById("room-name-form");
            const roomNameInput = document.getElementById("room-name-input").value;
            const container = document.getElementById("video-container");

            console.log("this is the roomnameinput", roomNameInput)
            event.preventDefault();
            // hide the join form
            form.style.visibility = "hidden";
            document.querySelector('#local-video').style.visibility = "hidden"
            document.querySelector('#local-audio').style.visibility = "hidden"

            document.querySelector('#video-container').style.visibility = "visible"

           
            // retrieve the room name

            // fetch an Access Token from the join-room route
            const getcooked = getCookie('csrftoken')
            fetch(`/getaccesstoken`, {
            method: 'POST',
            headers:{'X-CSRFToken': getcooked},
            body: JSON.stringify({
                roomname:roomNameInput

                })
            })
            .then(response => response.json())
            .then(data => {
                console.log("this should be the accesstoken", data) 
                let token = data["token"]  
                token = token.slice(1);
                token = token.slice(1);
                token = token.slice(0, token.length - 1);
                console.log(token)
                console.log(roomNameInput)
                aFunction(roomNameInput, token)
              
            });
            const aFunction = async (roomNameInput, token) => {
                console.log("i dont know what im doing")

            const room = await joinVideoRoom(roomNameInput, token);
            bigroom = room

            console.log("should have something but no", room);
            console.log("should have", room.promise);

            console.log("wae", room._promise)
            console.log("should have something but no", room.localParticipant);


            handleConnectedParticipant(room.localParticipant);
            room.participants.forEach(handleConnectedParticipant);
            room.on("participantConnected", handleConnectedParticipant);

            room.on("participantDisconnected", handleDisconnectedParticipant);
            window.addEventListener("pagehide", () => room.disconnect());
            window.addEventListener("beforeunload", () => room.disconnect());
            }
        }
       
    
    </script>
    
    <div class="godown"></div>



    <div class="d-flex justify-content-center">
        <h3 class="registertitle">สร้างห้องคอล</h3>
    </div>

   <div class="d-flex justify-content-center">
        <h5>ชื่อห้อง: {{roomname}}</h5>
   </div>
   <div class="d-flex justify-content-center mt-3">
        <h5 class="sarabun">ใส่ชื่อห้องที่มอบให้เพื่อสร้างห้อง:</h5>
   </div>
   <div class="d-flex justify-content-center">
        <form id="room-name-form">
            <div class="d-flex justify-content-center mt-2">
                <input class="inputjoincall" name="room_name" id="room-name-input"/>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button class="btn joincallbutton" onClick="getAccessToken()"type="submit">สร้างคอล</button>
            </div>
        </form>
    </div>

  <div id="video-container" style="visibility:hidden">
      <button onClick="muteOrUnmute('audio')" id="stopaudio" class="btn btn-primary">Mute Sound</button>
      <button onClick="muteOrUnmute('video')" id="stopvideo" class="btn btn-primary">Mute Video</button>
      <button onClick="leaveCall()" id="stopvideo" class="btn btn-primary">Leave Call</button>
  </div>

<div class="d-flex justify-content-center">
    <div id="local-video">
        <h6 class="sarabun">ทดสอบวีดีโอ</h6>
    </div>
 </div>  

 <div class="d-flex justify-content-center">
    <div id="local-audio">
        <h6 class="sarabun">ทดสอบเสียง</h6>
        <h6 id="voiceshowmofoid"></h6>
    </div>
</div>  


  {% else %}
    <div class="d-flex justify-content-center godownmore">
        <h5 class="sarabun">คุณไม่สามารถสร้างห้องได้ถ้าคุณไม่ใช่สตาร์</h5>
    </div>

  {% endif %}





{% endblock %}
{% block script %}
{% endblock %}

