#checkercss{
    color:red;
}
#overlayrc {
  
    position: fixed;
    width: 100%;
    height: 105vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
  
  
  }

  .imgnoedit
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  object-fit: cover;

}
.imgnoeditinbox
{
  height: 5em;
  width: 5em;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  object-fit: cover;

}
.page-footer
{
  background-color: #FFBE00;
  margin-top: 2px;
}
.navbar
{
  min-height: 90px;
  background-color:white;
}
.navbar-brand
{
 
}
.videme
{
  color:#ffc500;
  font-family: 'Bangers', cursive;
    font-size:40px;
}
.wa
{
  color:#203354;

  font-family: 'Sarabun';
  
}
.waduedate
{
  color:#203354;
  font-family: 'Sarabun';
  font-size:15px;
}
.waduedatecomplete
{
  color:greenyellow;
  font-family: 'Sarabun';
  font-size:15px;
}
.waduedateexpire
{
  color:red;
  font-family: 'Sarabun';
  font-size:15px;
}
.dropdownbutton
{
  color:#1c2e4a;

  font-family: 'Sarabun';
 
}
.ngong
{
  float: right;
}
.introdiv
{
 
  align-items: center;
  width: 50%;
  padding: 6rem 3rem;
  justify-content: center;
  background-color: #008fff;
  height:45em;

}
.secondintrodiv
{
 
  align-items: center;
  width: 50%;
  padding: 6rem 3rem;
  justify-content: center;
  background-color:#ffc500;
  height:45em;

}
.first_div.intro
{
  width:100%;
  align-items: center;

}
.introwords
{
  color:white;
  font-size: 425%;
  font-family: 'Sarabun';
}
.introwords2
{
  color:#008fff;
  font-size: 150%;
  font-family: 'Sarabun';
}
.introwordsseconddiv
{
  font-size: 500%;
  font-family: 'Bangers';
  color:#ffc500;
}


/* CSS */
.button-53 {
  background-color: #008fff;;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #ffc500;
  display: flex;
  font-family: 'Sarabun';
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
.inputsearch
{
  width:180%;

}
.container {
  overflow: auto;
  white-space:nowrap;
  width: 200%;
  flex-direction: row;

}
.item {
  padding: 10px;
  border: 1px solid red;
  display: inline-block;
  vertical-align:top;
  margin-right:20px;
  white-space:normal;
}
.content {
  flex: 1;
  display: flex;
  overflow: auto;
}

.box {
  display: flex;
  min-height: min-content; /* needs vendor prefixes */
}
.startitleindex
{
  font-size: 350%;
  font-family: 'Sarabun';
  color: #ffc500;
}
.control-suggestions
{
  margin: auto;
width: 90%;
padding: 10px;


}
.imgindex
{
  border-radius: 7px;
  object-fit: contain;

}
.goodmorning:hover
{

}
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span .requestcss{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .1s;
  font-family: 'Montserrat', sans-serif;
   
}
span .requestcss:before,
span .requestcss:after{
  position: absolute;
  content: "My Requests";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffc500;

  box-sizing: border-box;
  border-radius: 5px;
}
span .requestcss:before{
  color: white;;
  background: #008fff;;
  transform: rotateY(0deg) translateZ(25px);
}
span .requestcss:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span .requestcss:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}





span .myinboxcss{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .1s;
  font-family: 'Montserrat', sans-serif;
   
}
span .myinboxcss:before,
span .myinboxcss:after{
  position: absolute;
  content: "My Inbox";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  background: #ffc500;

}
span .myinboxcss:before{
  color: white;
  background: #008fff;;
  transform: rotateY(0deg) translateZ(25px);
}
span .myinboxcss:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span .myinboxcss:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
.myinboxcss:hover{
  cursor: pointer;
}
.requestcss:hover{
  cursor: pointer;
}
.ineachrow
{
  justify-content: center;
  width:65%;
  height:12em;
  background-color: #ffc500;
  border-radius: 1.5em;




}
.columninbox
{
  width:75%;

  justify-content: center;
  background: #008fff;
  border-radius: 1.5em;


}
.okseecolor
{
  padding:5%;
 
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');


/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.letsgo {
  color: #008fff;
  text-decoration: none;
  letter-spacing: 1px;
}
#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  position: relative;
  left: 0;
  transition: all .1s ease-Out;
}

.dub-arrow {
  width: 100%;
  height: 100%;
  background: #008fff;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-Out;
  bottom: 0;
}

#button-7 img {
  width: 20px;
  height: auto;
}

#button-7:hover .dub-arrow {
  left: 0;
}

#button-7:hover a {
  left: 150px;
}
.grid {
  display: grid;
  gap: 1px;
  display: flex;
  flex-wrap: wrap;
}
.videomaincover
{
  width:400px;
  height:400px;
}

.reviewmaincover
{
  width:400px;
  height:50%;
}

.reviewtext
{
  font-size:15px;
}
#introvideo
{
  width:60%;
  height:35em;
}
.hihi
{
  background-color: #FFBE00;
  padding:15px;
  border-radius: 5px;
  width:400px;
}
.reservebutton
{
  background-color: #008fff;
  color:white;
}
.forfont
{
  font-family: 'Sarabun';
}
.flexclass
{
  display: flex;
  flex-wrap: wrap;
}